# This is a basic workflow to help you get started with Actions

name: ci-build-macos

# Controls when the workflow will run
on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_call:
    inputs:
      script-args:
        required: false
        type: string
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build-macos-aarch64:
    # The OS of runner that the job will run on
    runs-on: macos-latest
    outputs:
      clang-build-version: ${{ steps.get-clang-build-version.outputs.generated_value }}
      shim-build-version: ${{ steps.get-shim-build-version.outputs.generated_value }}
      toolsonly-binaries: ${{ steps.archive-toolsonly-binaries.outputs.artifact-id }}
      essential-binaries: ${{ steps.archive-essential-binaries.outputs.artifact-id }}
      all-binaries: ${{ steps.archive-all-binaries.outputs.artifact-id }}
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha || github.ref }}
          submodules: recursive
      - name: double-checking-submodules
        run: |-
          git submodule update --init --recursive
      - name: set-up-build-tools
        uses: tecolicom/actions-use-homebrew-tools@v1
        with:
          # homebrew packages
          tools: 'cmake ninja-build'
      - name: setup-python
        uses: actions/setup-python@v6
        with:
          python-version: '3.14' 
      - name: run-macos-build
        run: |-
          python ./build_all.py native-macos-aarch64
      - name: get_clang_build_version
        run: python ./gh_get_build_clang_version.py >> "$GITHUB_OUTPUT"
      - name: get_shim_build_version
        run: python ./gh_get_build_shim_version.py >> "$GITHUB_OUTPUT"
      - name: archive-toolsonly-binaries
        uses: actions/upload-artifact@v4
        with:
          name: toolsonly-${{ runner.os }}-${{ runner.arch }}
          path: |
            ./archives/N64RecompToolsOnly*
      - name: archive-essential-binaries
        uses: actions/upload-artifact@v4
        with:
          name: essentials-${{ runner.os }}-${{ runner.arch }}
          path: |
            ./archives/N64RecompAndClangEssentials*
      - name: archive-full-binaries
        uses: actions/upload-artifact@v4
        with:
          name: full-${{ runner.os }}-${{ runner.arch }}
          path: |
            ./archives/N64RecompAndClangFull*
  # This workflow contains a single job called "build"
  build-macos-x64:
    # The OS of runner that the job will run on
    runs-on: macos-15-intel
    outputs:
      clang_build_version: ${{ steps.get_clang_build_version.outputs.generated_value }}
      shim_build_version: ${{ steps.get_shim_build_version.outputs.generated_value }}
      toolsonly-binaries: ${{ steps.archive-toolsonly-binaries.outputs.artifact-id }}
      essential-binaries: ${{ steps.archive-essential-binaries.outputs.artifact-id }}
      all-binaries: ${{ steps.archive-all-binaries.outputs.artifact-id }}
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha || github.ref }}
          submodules: recursive
      - name: double-checking-submodules
        run: |-
          git submodule update --init --recursive
      # - name: set-up-build-tools
      #   uses: tecolicom/actions-use-homebrew-tools@v1
      #   with:
      #     # homebrew packages
      #     tools: 'cmake ninja-build'
      - name: run-macos-build
        run: |-
          python ./build_all.py native-macos-x64
      - name: get-clang-build-version
        run: python ./gh_get_build_clang_version.py >> $GITHUB_OUTPUT
      - name: get-shim-build-version
        run: python ./gh_get_build_shim_version.py >> $GITHUB_OUTPUT
      - name: archive-toolsonly-binaries
        uses: actions/upload-artifact@v4
        with:
          name: toolsonly-${{ runner.os }}-${{ runner.arch }}
          path: |
            ./archives/N64RecompToolsOnly*
      - name: archive-essential-binaries
        uses: actions/upload-artifact@v4
        with:
          name: essentials-${{ runner.os }}-${{ runner.arch }}
          path: |
            ./archives/N64RecompAndClangEssentials*
      - name: archive-full-binaries
        uses: actions/upload-artifact@v4
        with:
          name: full-${{ runner.os }}-${{ runner.arch }}
          path: |
            ./archives/N64RecompAndClangFull*

        
