# This is a basic workflow to help you get started with Actions

name: ci-build-windows

# Controls when the workflow will run
on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_call:
    inputs:
      script-args:
        required: false
        type: string
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build-windows-x64:
    # The type of runner that the job will run on
    runs-on: windows-latest
    outputs:
      clang-build-version: ${{ steps.get-clang-build-version.outputs.generated_value }}
      shim-build-version: ${{ steps.get-shim-build-version.outputs.generated_value }}
      toolsonly-binaries: ${{ steps.archive-toolsonly-binaries.outputs.artifact-id }}
      essential-binaries: ${{ steps.archive-essential-binaries.outputs.artifact-id }}
      all-binaries: ${{ steps.archive-all-binaries.outputs.artifact-id }}
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha || github.ref }}
          submodules: recursive
      - name: print-python-version
        run: |-
          python --version
      - name: Configure Developer Command Prompt
        uses: ilammy/msvc-dev-cmd@v1
      - name: choco-install-ninja
        uses: crazy-max/ghaction-chocolatey@v3
        with:
          args: install ninja
      - name: choco-install-python
        uses: crazy-max/ghaction-chocolatey@v3
        with:
          args: install python --force --install-arguments="'/l*v c:\python314_msi_install.log'"
      - name: print-python-install-log
        run: |-
          cat c:\python314_msi_install.log
      - name: run-windows-build
        run: |-
          C:/hostedtoolcache/windows/Python/3.14.0/x64/python.exe --version
          C:/hostedtoolcache/windows/Python/3.14.0/x64/python.exe ./build_all.py native-windows-x64
      - name: get-clang-build-version
        run: |-
           C:/hostedtoolcache/windows/Python/3.14.0/x64/python.exe ./gh_get_build_clang_version.py
           C:/hostedtoolcache/windows/Python/3.14.0/x64/python.exe ./gh_get_build_clang_version.py >> "$GITHUB_OUTPUT"
      - name: get-shim-build-version
        run: |-
          C:/hostedtoolcache/windows/Python/3.14.0/x64/python.exe ./gh_get_build_shim_version.py
          C:/hostedtoolcache/windows/Python/3.14.0/x64/python.exe ./gh_get_build_shim_version.py >> "$GITHUB_OUTPUT"
      - name: archive-toolsonly-binaries
        uses: actions/upload-artifact@v4
        with:
          name: toolsonly-${{ runner.os }}-${{ runner.arch }}
          path: |
            ./archives/N64RecompToolsOnly*
      - name: archive-essential-binaries
        uses: actions/upload-artifact@v4
        with:
          name: essentials-${{ runner.os }}-${{ runner.arch }}
          path: |
            ./archives/N64RecompAndClangEssentials*
      - name: archive-full-binaries
        uses: actions/upload-artifact@v4
        with:
          name: full-${{ runner.os }}-${{ runner.arch }}
          path: |
            ./archives/N64RecompAndClangFull*

        
